<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build Chaibio shoftware #3</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.481.vcb_b_384a_3de89">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>build_machine</name>
          <description>Building machine</description>
          <defaultValue>192.168.81.36</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <com.syhuang.hudson.plugins.listgitbranchesparameter.ListGitBranchesParameterDefinition plugin="list-git-branches-parameter@0.0.13">
          <name>build_branch</name>
          <uuid>9f650992-bcd0-4901-af68-898dcbeb6844</uuid>
          <remoteURL>https://github.com/chaibio/chaipcr</remoteURL>
          <credentialsId></credentialsId>
          <defaultValue></defaultValue>
          <type>PT_BRANCH_TAG</type>
          <tagFilter>*</tagFilter>
          <branchFilter>.*</branchFilter>
          <sortMode>NONE</sortMode>
          <selectedValue>NONE</selectedValue>
          <quickFilterEnabled>false</quickFilterEnabled>
          <listSize>5</listSize>
        </com.syhuang.hudson.plugins.listgitbranchesparameter.ListGitBranchesParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <scmCheckoutRetryCount>1</scmCheckoutRetryCount>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

        echo &quot;Shell used: $0&quot;
        echo now at $(pwd)
        gem env
        if gem env | grep rubygems.org
        then
            echo &quot;ruby source already added&quot;
        else
            # this step is not important as we haverubygems.org/ under remote sources
            gem sources --add https://rubygems.org/
            gem sources --add http://rubygems.org/
        fi

        sudo DEBIAN_FRONTEND=noninteractive apt-get --yes --force-yes -o Dpkg::Options::=&quot;--force-confdef&quot; -o Dpkg::Options::=&quot;--force-confold&quot; -q update
        sudo dpkg --configure -a --force-confdef --force-confold
        sudo apt-get -y -q install -y libncurses5-dev || true
        sudo apt-get -y -q install ca-certificates software-properties-common 

        sudo apt-add-repository -y ppa:rael-gc/rvm
        sudo DEBIAN_FRONTEND=noninteractive apt-get --yes --force-yes -o Dpkg::Options::=&quot;--force-confdef&quot; -o Dpkg::Options::=&quot;--force-confold&quot; -q update
        sudo dpkg --configure -a --force-confdef --force-confold

#        sudo apt-get -y -q install nodejs-legacy || true
#        sudo apt-get -y -q install nodejs
#        sudo apt-get -y -q install rvm

        sudo apt-get -y -q install build-essential
        sudo apt-get -y -q install curl
        #sudo apt-get -y -q install gpg
        
        sudo gpg --keyserver keyserver.ubuntu.com --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 || true
        cd /tmp 
#i        curl -sSL https://get.rvm.io -o rvm.sh || true
#               less /tmp/rvm.sh || true
        sudo gpg --keyserver keyserver.ubuntu.com --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 || true
        sudo gpg --keyserver hkp://keyserver.ubuntu.com --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB

#i        time cat /tmp/rvm.sh | sudo bash -s stable --rails || true
        sudo gem install io-console -v 0.5.4
#        time cat /tmp/rvm.sh | sudo bash -s stable --rails || true

#        rvm reload

        if [ -e ~/.rvm/scripts/rvm ]
        then
                . ~/.rvm/scripts/rvm || true
        fi

#       rvm list || true


        if sudo apt-get install -y libssl1.0-dev
        then
                echo libssl1.0-dev installed ok
        else
                echo installing libssl1.0-dev from jessie repo
                sudo chmod 777 /etc/apt/sources.list.d/
                sudo rm /etc/apt/sources.list.d/libssl10.list || true
                sudo echo &quot;deb http://security.ubuntu.com/ubuntu bionic-security main&quot;&gt; /etc/apt/sources.list.d/libssl10.list
                sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 9D6D8F6BC857C906  
                sudo apt-get update -y -q
                sudo apt-get install -y --no-install-recommends libssl1.0-dev
                sudo rm /etc/apt/sources.list.d/libssl10.list
                sudo apt-get update -y -q
        fi

        echo adding nvm envs
        . /etc/profile.d/rvm.sh || true

        echo installing ruby
        sudo /usr/share/rvm/bin/rvm install ruby-2.2.9 || true

		if [ -e tmp ]
        then
        	sudo rm -r tmp || true
        fi
        mkdir tmp || true
        cd tmp
                
        echo Branch param $build_branch
        clean_build_branch=$build_branch
        clean_build_branch=${clean_build_branch#&quot;remotes/&quot;}
        clean_build_branch=${clean_build_branch#&quot;branches/&quot;}
        clean_build_branch=${clean_build_branch#&quot;refs/heads/&quot;}
        clean_build_branch=${clean_build_branch#&quot;tags/&quot;}
        clean_build_branch=${clean_build_branch#&quot;trunk&quot;}
        clean_build_branch=${clean_build_branch#&quot;master&quot;}
        echo Cleaned branch param $clean_build_branch

        branch_param=
        branch_name=

        if [ -z $build_branch ] || ! [[ &quot;$build_branch&quot; == *\/* ]]  || [ &quot;$build_branch&quot; = &quot;trunk&quot; ]
        then
                echo No build branch chosen
        else
                branch_name=$clean_build_branch

                if [ -z $branch_name ]
                then
                        echo Master branch chosen..
                else
                    branch_param=&quot;-b $branch_name&quot;
                    echo Cloning branch and param $branch_name and $branch_param
                fi
        fi
        this_dir=$(pwd)
        repo_storage=/var/lib/jenkins/userContent/chaibio_repo
        if [ -e $repo_storage/chaipcr ]
        then
                echo found a previous repo copy
                cd $repo_storage
                cd chaipcr
                git pull
        else
                echo folder not found, creating the folder and fetching repo: $repo_storage/chaipcr
                mkdir -p $repo_storage
                cd $repo_storage
               git clone $branch_param https://github.com/chaibio/chaipcr.git
        fi
        cd $this_dir
        
        echo returning to $this_dir
        if [ -e chaipcr ]
        then
                sudo rm -r chaipcr
        fi
        if [ -e $repo_storage/chaipcr ]
        then
                cp -r $repo_storage/chaipcr .
        fi

        if [ -e chaipcr ]
        then
                echo using preloaded copy of repo
        else
                git clone $branch_param https://github.com/chaibio/chaipcr.git || exit 1
        fi
        cd chaipcr || exit 1

        if [ -z $branch_name ]
        then
                echo No build branch chosen
        else
                git checkout $branch_name
        fi
      
        cd web
        echo downgrading npm
        sudo apt remove -y npm
        sudo rm -rf /usr/local/lib/node_modules/npm
        sudo rm -rf /usr/local/bin/npm
        sudo rm -rf /usr/local/bin/npx
        
        
        wget https://registry.npmjs.org/npm/-/npm-5.10.0.tgz
        
        tar -xvf npm-5.10.0.tgz
        cd package
        
        sudo node bin/npm-cli.js install -g
        
        sudo ln -sf /usr/local/n/versions/node/8.11.3/lib/node_modules/npm/bin/npm-cli.js /usr/local/bin/npm
        sudo ln -sf /usr/local/n/versions/node/8.11.3/lib/node_modules/npm/bin/npm-cli.js /usr/local/bin/npx
        sudo ln -sf /usr/local/n/versions/node/8.11.3/lib/node_modules/npm/bin/npm-cli.js /usr/bin/npm
        
        cd ..
        echo done downgrading npm
        
        
#        echo install gulp
        #sudo
        #               npm install gulp -g
        
        #echo gitting
        #git clone https://github.com/chaibio/chaipcr.git
        #cd &quot;$chaibio_web&quot;
        
        echo install gulp locally
        npm install sass
        
        npm install gulp@3
        npm install gulp-cli@2.0.1
        
  		echo installing all
		npm install

		../node_modules/gulp-cli/bin/gulp.js -v
		
		echo starting gulp deploy
		../node_modules/gulp-cli/bin/gulp.js deploy || exit 1
        
        cd ..
        pwd
#       echo done gulp deploy
        
        echo Release build number is $release_build_number
		rm -rf ./web/log
        
        version_number=$(jq &quot;.software.version&quot; ./device/configuration.json)
		if ! [ -z $version_number ]
		then
        	prefix=&quot;\&quot;&quot;
        	suffix=&quot;.RELATIVE_BUILDNUMBER\&quot;&quot;
        	version_number=${version_number%&quot;$RELATIVE_BUILDNUMBER&quot;}
        	version_number_trimmed=$(echo $version_number | sed -e &quot;s/^$prefix//&quot; -e &quot;s/$suffix$//&quot;)
        	if ! [ -z $version_number_trimmed ]
        	then
                echo &quot;Version: $version_number_trimmed&quot;
                relative_build_number_filename=&quot;$HUDSON_HOME/userContent/lastbuildnumber/$version_number_trimmed&quot;
                if ! [ -d &quot;$HUDSON_HOME/userContent/lastbuildnumber/&quot; ]
                then
                        mkdir -p &quot;$HUDSON_HOME/userContent/lastbuildnumber/&quot;
                        echo 1&gt;$relative_build_number_filename
                fi
                if ! [ -e &quot;$relative_build_number_filename&quot; ]
                then
                        echo 1&gt;$relative_build_number_filename
                fi

                relative_build_number=$(cat $relative_build_number_filename)
                relative_build_number=$((relative_build_number+1))
                echo $relative_build_number&gt;$relative_build_number_filename
                echo setting relative version number to $relative_build_number
                sed -i &apos;s/RELATIVE_BUILDNUMBER/&apos;${relative_build_number}&apos;/g&apos; ./device/configuration.json  || true
        	fi
		fi

		sed -i &apos;s/&quot;version&quot;: &quot;1.0.0&quot;,/&quot;version&quot;: &quot;&apos;${image_version}&apos;&quot;,/g&apos; ./device/configuration.json || true
#		sed -i &apos;s/&quot;version&quot;: &quot;1.1.1&quot;,/&quot;version&quot;: &quot;&apos;${image_version}&apos;&quot;,/g&apos; ./device/configuration.json || true
        sed -i &apos;s/BUILD_NUMBER/&apos;${release_build_number}&apos;/g&apos; ./device/configuration.json  || true
		echo -e &quot;Jenkins release number# $release_build_number\n&quot;&gt;changes.log
        echo &quot;Changes (last 4 weeks)&quot;&gt;&gt;changes.log
        git log --pretty=format:&quot;%h - %an, %ar : %s&quot; --since=4.weeks&gt;&gt;changes.log

		echo $release_build_number&gt;build_number.ini
# waiting 20min for the bulding device to become connectable
echo &quot;Waiting for the build device ($build_machine) to become ready!&quot;
#sleep 1500

for i in {0..1200..60}
do
    echo &quot;Waiting for the build device ($build_machine) to become ready! $i&quot;
	sleep 10

	if ping $build_machine -c 2
    then
    	echo device is finally up !!
        sleep 10
        
		ssh-keygen -f &quot;/var/lib/jenkins/.ssh/known_hosts&quot; -R $build_machine
        ssh-keygen -f &quot;/home/jenkins/.ssh/known_hosts&quot; -R $build_machine

		ssh -t -oStrictHostKeyChecking=no root@$build_machine &lt;&lt;&apos;ENDSSH&apos;
		echo $build_machine device is connectable.. 
		lsblk
		exit 0
ENDSSH

		sleep 10
		echo returned to host. connection check:
		counter=0
		until ssh -t root@$build_machine &apos;exit 0&apos;
		do
			counter=$(( $counter + 1 ))
    		if [ $counter -gt 20 ]
    		then
    			echo Beaglebone is not available.
    			exit 1
		    fi
			echo waiting for ssh on beaglebone to become connectable.
			sleep 10
		done
		echo ssh is connectable... ~/copying chaipcr folder..
        sleep 10
		pwd
		rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./web &quot;$build_machine:/root/chaipcr/&quot; || (echo error copying files to device &amp;&amp; exit 1)
		rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./browser &quot;$build_machine:/root/chaipcr/&quot;  || (echo error copying files to device &amp;&amp; exit 1)
		rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./bioinformatics &quot;$build_machine:/root/chaipcr/&quot;  || (echo error copying files to device &amp;&amp; exit 1)
		rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./device/configuration.json &quot;$build_machine:/root/chaipcr/deploy/&quot;  || (echo error copying files to device &amp;&amp; exit 1)
		rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./device/configuration.json &quot;$build_machine:/root/&quot;  || (echo error copying files to device &amp;&amp; exit 1)
        rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a changes.log &quot;$build_machine:/root/chaipcr/deploy/&quot;  || true # (echo error copying files to device &amp;&amp; exit 1)
        if [ -e ./realtime/wifi ]
        then
        	rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./realtime/wifi &quot;$build_machine:/root/chaipcr/deploy/&quot;  || (echo error copying files to device &amp;&amp; exit 1)
		fi
		rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./devops/factory_settings_sdcard/scripts/replace_uEnv.txt.sh &quot;$build_machine:/root/chaipcr/deploy/&quot;  || (echo error copying files to device &amp;&amp; exit 1)
        if [ -e ./devops/factory_settings_sdcard/scripts/setup_touchcontroller.sh ]
        then
        	rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./devops/factory_settings_sdcard/scripts/setup_touchcontroller.sh &quot;$build_machine:/root/chaipcr/deploy/&quot;  || (echo error copying files to device &amp;&amp; exit 1)
        fi
		rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./devops/device &quot;$build_machine:/root/chaipcr/deploy/&quot;  || (echo error copying files to device &amp;&amp; exit 1)
		rsync --delete --rsh=&quot;sshpass ssh -oStrictHostKeyChecking=no -l root&quot; -a ./modules &quot;$build_machine:/root/chaipcr/&quot;  || (echo error copying files to device &amp;&amp; exit 1)
		echo copy is done		
        cd ../..
        if [ -e tmp ]
        then
        	echo cleaning up
            sudo rm -r tmp || true
        fi

        exit 0
    fi
done

echo timeout waiting for the device to become ready!
exit 1

</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.28"/>
  </buildWrappers>
</project>