<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Restore latest eMMC image to the connected BBB.&#xd;
- create a grep sdcard&#xd;
- write latest eMMC image to the grep sdcard&#xd;
- mark function at reversed&#xd;
- start BBB on grep mode&#xd;
- restart BBB on normal more&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.481.vcb_b_384a_3de89">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>build_machine</name>
          <defaultValue>192.168.81.81</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>download_prefix</name>
          <description>Download server url. Example: http://10.0.1.20/download</description>
          <defaultValue>http://192.168.81.39/download</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>input_image_prefix</name>
          <description>eMMC name prefix.
</description>
          <defaultValue>test_</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo checking Jenkins server
echo &quot;Bash version ${BASH_VERSION}...&quot;
uname -a
ls -ahl
lsblk
df -h
echo user: $(whoami)
ping google.com -c 10
sudo apt-get update
echo Checking for nessasery packages:
sudo apt-get -y -q install sshpass parted mdadm --allow-unauthenticated
sudo apt-get -y -q install dirmngr --install-recommends

sudo chmod 777      /var/lib/jenkins/.ssh/known_hosts
ssh-keygen -f &quot;/var/lib/jenkins/.ssh/known_hosts&quot; -R $build_machine
ssh-keygen -f &quot;/home/jenkins/.ssh/known_hosts&quot; -R $build_machine

#ssh-keygen -f &quot;/var/lib/jenkins/.ssh/known_hosts&quot; -R $build_machine

sshpass -p temppwd ssh -t -oStrictHostKeyChecking=no debian@$build_machine &lt;&lt;&apos;ENDSSH&apos;
echo enable root access with no password
echo temppwd | sudo -S su
echo temppwd | sudo -S sed -i -e &apos;s:PermitEmptyPasswords no:PermitEmptyPasswords yes:g&apos; /etc/ssh/sshd_config
sudo sed -i -e &apos;s:#PermitEmptyPasswords:PermitEmptyPasswords:g&apos; /etc/ssh/sshd_config
sudo sed -i -e &apos;s:UsePAM yes:UsePAM no:g&apos; /etc/ssh/sshd_config
sudo sed -i -e &apos;s:PermitRootLogin without-password:PermitRootLogin yes:g&apos; /etc/ssh/sshd_config
sudo sed -i -e &apos;s:PermitRootLogin prohibit-password:PermitRootLogin yes:g&apos; /etc/ssh/sshd_config
sudo sed -i -e &apos;s:#PermitRootLogin:PermitRootLogin:g&apos; /etc/ssh/sshd_config


sudo passwd -d -u root
sudo su

echo patching sshd_config
sudo cat &lt;&lt;EOF &gt;&gt; /etc/ssh/sshd_config
KexAlgorithms diffie-hellman-group1-sha1,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
EOF

ssh-keygen -A || true
sudo /etc/init.d/ssh restart
service ssh restart
echo ssh daemon is restarted
ENDSSH

echo root access patching returned


if grep $build_machine /var/lib/jenkins/.ssh/config
then
	echo /var/lib/jenkins/.ssh/config was patched already
else
	echo patching /var/lib/jenkins/.ssh/config
	cat &lt;&lt;EOF &gt;&gt; /var/lib/jenkins/.ssh/config
Host $build_machine
		KexAlgorithms +diffie-hellman-group1-sha1,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
EOF
fi

echo deleting root password in case of chaipcr
sshpass -p chaipcr ssh -oStrictHostKeyChecking=no root@$build_machine &quot;passwd -d -u root&quot;

if ssh -t -oStrictHostKeyChecking=no root@$build_machine &lt;&lt;&apos;ENDSSH&apos;

if grep diffie-hellman-group1-sha1 /etc/ssh/sshd_config
then
	echo sshd_config was patched already
else
	echo patching sshd_config
    
	cat &lt;&lt;EOF&gt;&gt; /etc/ssh/sshd_config
		KexAlgorithms diffie-hellman-group1-sha1,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
EOF
	ssh-keygen -A || true

	sudo service sshd restart
    sudo service ssh restart
    /etc/init.d/ssh restart
	echo device is patched
    ifconfig
fi

exit 0
ENDSSH
then
   echo &quot;-t worked&quot;
else
echo &quot; trying -tt&quot;
ssh -tt -oStrictHostKeyChecking=no root@$build_machine &lt;&lt;&apos;ENDSSH&apos;

if grep diffie-hellman-group1-sha1 /etc/ssh/sshd_config
then
	echo sshd_config was patched already
else
	echo patching sshd_config
    
	cat &lt;&lt;EOF &gt;&gt; /etc/ssh/sshd_config
KexAlgorithms diffie-hellman-group1-sha1,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
EOF
	ssh-keygen -A || true
	sudo service sshd restart
    sudo service ssh restart
    /etc/init.d/ssh restart
	echo device is patched
    ifconfig
fi

exit 0
ENDSSH

fi

echo Returned to host. connection check:
ssh -oStrictHostKeyChecking=no -t root@$build_machine &apos;exit 0&apos;

if ssh -oStrictHostKeyChecking=no -tt root@$build_machine &apos;exit 0&apos;
then
    echo key is added ok
else
    echo error adding key to known hosts.. retrying..
    chmod 777 /var/lib/jenkins/.ssh/known_hosts
	ssh -oStrictHostKeyChecking=no -t root@$build_machine &apos;exit 0&apos;
fi

counter=0
until ssh -tt root@$build_machine &apos;exit 0&apos;
do
	counter=$(( $counter + 1 ))
    if [ $counter -gt 10 ]
    then
    	echo Beaglebone is not available.
    	exit 1
    fi
    
	echo waiting for beaglebone to become connectable.
	sleep 20
done

echo done connection check.
sleep 20</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>build_branch=master

        echo Branch param $build_branch
        clean_build_branch=$build_branch
        clean_build_branch=${clean_build_branch#&quot;remotes/&quot;}
        clean_build_branch=${clean_build_branch#&quot;branches/&quot;}
        clean_build_branch=${clean_build_branch#&quot;refs/heads/&quot;}
        clean_build_branch=${clean_build_branch#&quot;tags/&quot;}
        clean_build_branch=${clean_build_branch#&quot;trunk&quot;}
        clean_build_branch=${clean_build_branch#&quot;master&quot;}
        echo Cleaned branch param $clean_build_branch

        branch_param=
        branch_name=

        if [ -z $build_branch ] || ! [[ &quot;$build_branch&quot; == *\/* ]]  || [ &quot;$build_branch&quot; = &quot;trunk&quot; ]
        then
                echo No build branch chosen
        else
                branch_name=$clean_build_branch

                if [ -z $branch_name ]
                then
                        echo Master branch chosen..
                else
                    branch_param=&quot;-b $branch_name&quot;
                    echo Cloning branch and param $branch_name and $branch_param
                fi
        fi
        this_dir=$(pwd)
        repo_storage=/var/lib/jenkins/userContent/chaibio_repo
        if [ -e $repo_storage/chaipcr ]
        then
                echo found a previous repo copy
                cd $repo_storage
                cd chaipcr
                git pull
        else
                echo folder not found, creating the folder and fetching repo: $repo_storage/chaipcr
                mkdir -p $repo_storage
                cd $repo_storage
               git clone $branch_param https://github.com/chaibio/chaipcr.git
        fi
        cd $this_dir
        echo returning to $this_dir
        if [ -e chaipcr ]
        then
                sudo rm -r chaipcr
        fi
        if [ -e $repo_storage/chaipcr ]
        then
                cp -r $repo_storage/chaipcr .
        fi

        if [ -e chaipcr ]
        then
                echo using preloaded copy of repo
        else
                git clone $branch_param https://github.com/chaibio/chaipcr.git || exit 1
        fi
        cd chaipcr || exit 1

        if [ -z $branch_name ]
        then
                echo No build branch chosen
        else
                git checkout $branch_name
        fi
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@158.ve2a_e90fb_7319">
      <siteName>root@$build_machine:22</siteName>
      <command>echo &quot;Building ${PROJECT_NAME} - Build # ${BUILD_NUMBER}.. result is at ${BUILD_URL}&quot;
echo &quot;Slave Beaglebone at ${build_machine}&quot;
echo checking build device 
echo &quot;Bash version ${BASH_VERSION}...&quot;
uname -a
ls -ahl
lsblk
df -h

# debug markers 
# mark=`date &apos;+%m_%d__%H_%M_%S&apos;`;mkdir -p /root/REST_B4_rootfs_${mark} /perm/REST_B4_perm_${mark} /data/REST_B4_data_${mark};sync

echo processing incomplete installations
dpkg --configure -a --force-confdef

mkdir -p /run/chaipcr/
touch /run/chaipcr/exit_all.flag
pkill julia;pkill julia;pkill julia;pkill julia;pkill julia;pkill julia;pkill julia;pkill julia;pkill realtime;pkill realtime

echo disable swapping
free -m
swapoff -a

umount /dev/mmcblk0p*
umount /sdcard/*

lsblk
if mount | grep mmcblk0
then
  echo &quot;Error: can&apos;t unmount sdcard!&quot;
  exit 1
fi

echo installing missing packages.
apt-get update
echo installing parted.
apt-get install parted -y -q
apt-get install hdparm -y -q

blockdev --flushbufs /dev/mmcblk0
partprobe /dev/mmcblk0
# sfdisk -R /dev/mmcblk0
udevadm trigger --subsystem-match=block; udevadm settle
blockdev --rereadpt /dev/mmcblk0
hdparm -z /dev/mmcblk0

if LC_ALL=C sfdisk --force -uS --Linux /dev/mmcblk0 &lt;&lt;-__EOF__
,,0xe,*
__EOF__
then
	echo SDCard formatted!
else
	echo error formatting SDCard. retrying..
        blockdev --flushbufs /dev/mmcblk0
        partprobe /dev/mmcblk0
#        sfdisk -R /dev/mmcblk0
        udevadm trigger --subsystem-match=block; udevadm settle
        blockdev --rereadpt /dev/mmcblk0
        hdparm -z /dev/mmcblk0

        dd if=/dev/zero of=/dev/mmcblk0 bs=51200 count=1000
        sync
        blockdev --flushbufs /dev/mmcblk0
        partprobe /dev/mmcblk0
        sfdisk -R /dev/mmcblk0
        udevadm trigger --subsystem-match=block; udevadm settle
        blockdev --rereadpt /dev/mmcblk0
        hdparm -z /dev/mmcblk0
 LC_ALL=C sfdisk --force -uS --Linux /dev/mmcblk0 &lt;&lt;-__EOF__
,,0xe,*
__EOF__
        echo formatting /dev/mmcblk0p1
        mkfs.ext4 -O ^metadata_csum,^64bit /dev/mmcblk0p1
        blockdev --flushbufs /dev/mmcblk0
        partprobe /dev/mmcblk0
        sfdisk -R /dev/mmcblk0
        udevadm trigger --subsystem-match=block; udevadm settle
        blockdev --rereadpt /dev/mmcblk0
        hdparm -z /dev/mmcblk0

if LC_ALL=C sfdisk --force -uS --Linux /dev/mmcblk0 &lt;&lt;-__EOF__
,,0xe,*
__EOF__
        then
	       echo SDCard partitioned!
        else
 	       echo error formatting SDCard.
#	       exit 1
       fi
fi

blockdev --flushbufs /dev/mmcblk0
sudo partprobe /dev/mmcblk0
sudo blockdev --rereadpt /dev/mmcblk0
partprobe /dev/mmcblk0
sfdisk -R /dev/mmcblk0
udevadm trigger --subsystem-match=block; udevadm settle
blockdev --rereadpt /dev/mmcblk0
hdparm -z /dev/mmcblk0

echo Formatting..

if command -v mkfs.fat
then
      mkfs.fat /dev/mmcblk0p1 -n CHAIBIO
else
      mkfs.vfat /dev/mmcblk0p1 -n CHAIBIO
fi
echo SDCard formatted!
sync
mkdir -p /tmp/grep_sdcard
sync
if mount /dev/mmcblk0p1 /tmp/grep_sdcard
then
     echo SDCard mounted successfully.
else
     echo Failed to mount SDCard.
     exit 1
fi

lsblk
df -h
ulimit -t 1800
export TMOUT=0

echo &quot;Restoring image: $input_image_prefix by restore job build number $BUILD_NUMBER , to this device starting at: &quot; &gt;&gt; ~/restore_history.log
date &gt;&gt; ~/restore_history.log


exit 0</command>
      <execEachLine>false</execEachLine>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>ls
echo copying grep sdcard contents
scp -r chaipcr/devops/grabimage_sdcard/* root@$build_machine:/tmp/grep_sdcard/
scp -r chaipcr/devops/grabimage_sdcard/uEnv.sdcard.txt root@$build_machine:/tmp/grep_sdcard/uEnv.txt
sudo rm -r chaipcr

emmc_image_latest_compressed=${input_image_prefix}_emmc.img.tgz
emmc_image_latest_url=$download_prefix/${emmc_image_latest_compressed}
emmc_image_latest_tmp_compressed=/tmp/restore/${BUILD_NUMBER}/${emmc_image_latest_compressed}

emmc_image_latest_tmp_uncompressed_part1=/tmp/restore/${BUILD_NUMBER}/eMMC_part1.img
emmc_image_latest_tmp_uncompressed_part2=/tmp/restore/${BUILD_NUMBER}/eMMC_part2.img

mkdir -p /tmp/restore/${BUILD_NUMBER}
echo downloading and restoring $emmc_image_latest_compressed

wget $emmc_image_latest_url -O $emmc_image_latest_tmp_compressed

image_location=$(tar -tf $emmc_image_latest_tmp_compressed | grep eMMC_part2.img)
echo full image path $image_location
slashes=$(echo $image_location | tr -cd &apos;/&apos; | wc -c)
echo slashes are $slashes

tar xfvz $emmc_image_latest_tmp_compressed --strip=$slashes -C /tmp/restore/${BUILD_NUMBER}

echo latest image downloaded
ls -ahl /tmp/restore/${BUILD_NUMBER}/eMMC_part*
sync
ulimit -t 1800
export TMOUT=0

#rsync -avP 
#ping -c 500 $build_machine &amp;

#scp -v -o ServerAliveInterval=60 -o ServerAliveCountMax=30

export MAX_RETRIES=5
export RETRY_DELAY=5

echo &quot;first image send&quot;

for i in 1 2 3 4 5
do
    echo &quot;Attempt $i of $MAX_RETRIES&quot;
    rsync  --no-owner --timeout=30 --partial --append-verify -avzP /tmp/restore/${BUILD_NUMBER}/eMMC_part1.img root@$build_machine:/tmp/grep_sdcard/ &amp;&amp; break
    echo &quot;Transfer failed. Retrying in $RETRY_DELAY seconds...&quot;
    sleep $RETRY_DELAY
done

echo &quot;second image send&quot;

for i in 1 2 3 4 5
do
    echo &quot;Attempt $i of $MAX_RETRIES&quot;
 	rsync  --no-owner --timeout=30 --partial --append-verify -avzP /tmp/restore/${BUILD_NUMBER}/eMMC_part2.img root@$build_machine:/tmp/grep_sdcard/ &amp;&amp; break
    echo &quot;Transfer failed. Retrying in $RETRY_DELAY seconds...&quot;
    sleep $RETRY_DELAY
done




sleep 10
sync
#scp -v -o ServerAliveInterval=60 -o ServerAliveCountMax=30 
#rsync -avP /tmp/restore/${BUILD_NUMBER}/eMMC_part2.img root@$build_machine:/tmp/grep_sdcard/

rm $emmc_image_latest_tmp_uncompressed_part1  || true
rm $emmc_image_latest_tmp_uncompressed_part2  || true
rm $emmc_image_latest_tmp_compressed || true


</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@158.ve2a_e90fb_7319">
      <siteName>root@$build_machine:22</siteName>
      <command>echo patching grep sdcard to boot only once
#cp /tmp/grep_sdcard/autorun.sh /tmp/grep_sdcard/autorun.sh.org

sed &quot;s/reboot/rm \/mnt\/uEnv.txt ; reboot/&quot; -i /tmp/grep_sdcard/autorun.sh
sed &quot;s/halt/rm \/mnt\/uEnv.txt ; reboot # /&quot; -i /tmp/grep_sdcard/autorun.sh
sed &quot;s/restore=false/restore=true/&quot; -i /tmp/grep_sdcard/pack_latest_version.sh

sed &quot;s/reboot/rm \/mnt\/uEnv.txt ; reboot/&quot; -i /tmp/grep_sdcard/pack_latest_version.sh
sed &quot;s/halt/rm \/mnt\/uEnv.txt ; reboot # /&quot; -i /tmp/grep_sdcard/pack_latest_version.sh

#mv /tmp/grep_sdcard/autorun.sh  /tmp/grep_sdcard/autorun.sh.tmp

sync
ls /tmp/grep_sdcard -ahl

umount /tmp/grep_sdcard

echo scheduling a restart in a min
sync
shutdown -r 1

exit 0</command>
      <execEachLine>false</execEachLine>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

#rm -r /tmp/restore/${BUILD_NUMBER} || true

echo waiting for a restart
sleep 1200
for i in {0..2400..60}
do
	echo &quot;Waiting for the build device to become ready! $i&quot;
	sleep 60
    if ping $build_machine -c 3
    then
    	echo device is finally up !!
        echo cleaning up
        rm -r /tmp/restore/${BUILD_NUMBER}
        sync
      	sleep 360
        exit 0
    fi
done

echo timeout waiting for the device to become ready!
exit 1</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@158.ve2a_e90fb_7319">
      <siteName>root@$build_machine:22</siteName>
      <command>if [ -e ~/restore_history.log ]
then
    echo &quot;Restore job failed. Check the restore jobs mentioned in the history. The restore history of this device as below:&quot;
    cat ~/restore_history.log
    exit 1
fi

echo All done.
# debug markers 
# mark=`date &apos;+%m_%d__%H_%M_%S&apos;`;mkdir -p /root/jr_$download_prefix_rootfs_${mark} /perm/jr_$download_prefix_perm_${mark} /data/jr_$download_prefix_data_${mark};sync

exit 0
</command>
      <execEachLine>false</execEachLine>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.28"/>
  </buildWrappers>
</project>