<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build Chaibio shoftware 16</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.481.vcb_b_384a_3de89">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>build_machine</name>
          <description>Building machine</description>
          <defaultValue>192.168.68.191</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@158.ve2a_e90fb_7319">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Checking locale.
if grep &quot;&quot; /etc/default/locale
then
        echo default locale is set.
else
        echo setting default local to en_US.UTF-8
        echo &quot;LANG=en_US.UTF-8&quot; &gt; /etc/default/locale
fi

echo &quot;Install wireless or WIFI related packages&quot;
sudo apt-get -y -q install wireless-tools
sudo apt-get -y -q install wpasupplicant

if [ -e /lib/udev/rules.d/80-net-setup-link.rules ]
then
   echo &quot;Make sure to override unpredictable naming for WIFI interface - Always use wlanX&quot;
   sudo ln -s /lib/udev/rules.d/80-net-setup-link.rules /etc/udev/rules.d/80-net-setup-link.rules
fi

echo &quot;Install Ethernet tools required for detecting cable plugged and unplugged events&quot;
sudo apt-get -y -q install ifplugd

echo &quot;Set up ifplugd configuration and actions for detecting ethernet cable unplugged and plugged events&quot;
if [ -e /etc/default/ifplugd ]
then
   sed -i &apos;s/INTERFACES=&quot;&quot;/INTERFACES=&quot;eth0&quot;/g&apos; /etc/default/ifplugd
   sed -i &apos;s/-d10/-d5/g&apos; /etc/default/ifplugd
fi

if [ -e /etc/ifplugd/action.d/ifupdown ]
then
   sed -i &apos;s/\/sbin\/ifdown $1/ip addr flush dev $1 \&amp;\&amp; \/sbin\/ifdown $1/g&apos; /etc/ifplugd/action.d/ifupdown
fi

if [ -e /etc/network/if-down.d/flush-ethernet-interface-ip ]
then
   echo &quot;Symbolic link for flush-ethernet-interface-ip is already created&quot;
else
   echo &quot;Create Symbolic link for if-down-d flush-ethernet-interface-ip&quot;
   ln -s /root/chaipcr/deploy/device/flush-ethernet-interface-ip.sh /etc/network/if-down.d/flush-ethernet-interface-ip
fi

if [ -e /etc/network/if-pre-up.d/flush-ethernet-interface-ip ]
then
   echo &quot;Symbolic link for if-pre-up-d flush-ethernet-interface-ip is already created&quot;
else
   echo &quot;Create Symbolic link for flush-ethernet-interface-ip&quot;
   ln -s /root/chaipcr/deploy/device/flush-ethernet-interface-ip.sh /etc/network/if-pre-up.d/flush-ethernet-interface-ip
fi

if [ -e /etc/network/if-up.d/force-ethernet-up ]
then
   echo &quot;Symbolic link for force-ethernet-up is already created&quot;
else
   echo &quot;Create Symbolic link for force-ethernet-up&quot;
   ln -s /root/chaipcr/deploy/device/force-ethernet-up.sh /etc/network/if-up.d/force-ethernet-up
fi

echo setting up website on ngixn
if [ -e /etc/nginx/sites-available ]
then
    echo Nginx is installed
else
   echo Nginx is not installed
   exit 0
fi

cp ~/chaipcr/web/config/etc/nginx/chaipcr /etc/nginx/sites-available/
cd /etc/nginx/sites-enabled
sudo ln -s ../sites-available/chaipcr
rm default 

cat &lt;&lt;EOF &gt;&gt; /etc/nginx/conf.d/chaipcr_unicorn.conf
#Add the following to /etc/nginx/nginx.conf under the http section:
    # Unicorn
     upstream unicorn {
       server unix:/root/shared/sockets/unicorn.sock fail_timeout=0;
    }
EOF

update-rc.d -f nginx defaults
</command>
      <execEachLine>false</execEachLine>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.28"/>
  </buildWrappers>
</project>